{% extends "myapp/base.html" %}

{% load static %}
  <title>UWrite - Главная страница</title>
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    {% block content%}
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    
    <body class="bg-gray-300">
        <main class="container mx-auto py-12">
            <section class="flex flex-col md:flex-row items-center justify-between">
                <div class="md:w-1/2">
                    <h1 class="text-4xl font-bold mb-4">Лабораторная установка по проведению факультативных занятий в области ИБ</h1>
                    <p class="text-lg mb-6">
                        Наши онлайн курсы помогут тебе стать уверенным специалистом в области ИБ.
                    </p>
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                        Начать обучение
                    </button>
                </div>
                <div class="md:w-1/2 mt-6 md:mt-0">
                    <img src="https://source.unsplash.com/1200x600/?hacking,whitehead" alt="Uwrite курс" class="rounded-md">
                </div>
            </section>

            <section class="mt-12">
              <h2 class="text-2xl font-bold mb-4">Наши популярные курсы:</h2>
              <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                  <div class="bg-white rounded-md shadow-md p-4">
                      <h3 class="text-xl font-bold mb-2">Курс по активному фаззингу веб-приложений</h3>
                      <p class="text-gray-600 mb-4">
                          Узнайте как проводить автоматическое и полуавтоматическое тестирование программ.
                      </p>
                      <a href="#" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                          Подробнее
                      </a>
                  </div>
                  <div class="bg-white rounded-md shadow-md p-4">
                      <h3 class="text-xl font-bold mb-2">Курс по пассивному сбору информации</h3>
                      <p class="text-gray-600 mb-4">
                          Узнайте как собирать информацио о выбранной цели без обнаружения.
                      </p>
                      <a href="#" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                          Подробнее
                      </a>
                  </div>
                  <div class="bg-white rounded-md shadow-md p-4">
                      <h3 class="text-xl font-bold mb-2">Курс по изучению  SQL-иньекций</h3>
                      <p class="text-gray-600 mb-4">
                          Узнайте, что такое SQL-иньекции, для чего они нужны и как их использовать.
                      </p>
                      <a href="#" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                          Подробнее
                      </a>
                  </div>
              </div>
          </section>
        </main>
        {% endblock content%}
    </body>
    