{% extends "myapp/base.html" %}
{% block content%}
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UWrite - Главная страница</title>
  <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
</head>
<body>
  <header>
    
  </header>

  <main>
    <section>
      <h2>Добро пожаловать в UWrite!</h2>
      <p>UWrite - это платформа онлайн-курсов, где вы можете учиться у экспертов и развивать свои навыки письма.</p>
      <p>Мы предлагаем широкий спектр курсов по всем аспектам письма, от основ до продвинутых техник. Наши курсы разработаны для писателей всех уровней, от начинающих до опытных.</p>
      <p>Готовы начать учиться? <a href="courses.html">Просмотрите наши курсы</a> сегодня и начните свой путь к лучшему письму!</p>
    </section>

    <section>
      <h2>Популярные курсы:</h2>
      <ul>
        <li><a href="#">Как написать убедительное эссе</a></li>
        <li><a href="#">10 советов для начинающих писателей</a></li>
        <li><a href="#">Как найти свое писательское призвание</a></li>
        <li><a href="#">10 лучших книг для писателей</a></li>
      </ul>
    </section>
  </main>

  <footer>
    <p>Copyright &copy; 2023 UWrite.</p>
  </footer>
</body>
</html>
{% endblock content%}