{% extends "myapp/base.html" %}
{% load static %}
{% block content%}
<nav>
	<div class="bg-white shadow-lg">
		<div class="max-w-6xl mx-auto px-4">
			<div class="flex justify-between">
				<div class="flex space-x-7">
						<div>
							<a href="{% url 'main' %}" class="flex items-center px-2 py-4">
							<img class="h-8 w-8" src="{% static 'myapp/images/icon.png' %}" alt="logo"/>
							<span class="text-gray-500 font-semibold text-4xl">Uwrite</span>
							</a>
						</div>
						<div class="items-center flex space-x-1">
							<a href="#" class="py-4 px-2 text-gray-500 font-semibold border-b-4 border-blue-500">Home</a>
							<a href="#" class="py-4 px-2 text-gray-500 font-semibold border-b-4 border-blue-500">About</a>
							<a href="#" class="py-4 px-2 text-gray-500 font-semibold border-b-4 border-blue-500">Contacts</a>
							<a href="#" class="py-4 px-2 text-gray-500 font-semibold border-b-4 border-blue-500">Login</a>
						</div>
				</div>
			</div>
		</div>
	</div>
</nav>
    <h4>
        <!-- <a href="/Uwrite/mains/{{item.id}}/"></a> -->
        {% for item in items %}
        <a href="{% url 'detail' item.id %}" class="font-semi text-xl">
        Имя: {{item.name}}  | Цена:  {{item.price}}  | Описание:  {{item.description}} </br>

        {% endfor %}
        </a>
    </h4>
{% endblock content%}