{% load static %}
<header class="bg-white shadow-md">
  <div class="container mx-auto py-4 flex justify-between items-center">
      <a href="{% url 'myapp:main' %}" class="font-bold text-xl">Uwrite</a>
      <nav class="hidden md:block">
          <ul class="flex space-x-8">
              <li><a href="#" class="hover:underline">Курсы</a></li>
              <li><a href="#" class="hover:underline">О нас</a></li>
              <li><a href="#" class="hover:underline">Контакты</a></li>
          </ul>
      </nav>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
          Войти
      </button>
  </div>
</header>


